__pycache__/a4_helper.cpython-313.pyc
__pycache__/common.cpython-313.pyc
__pycache__/one_stage_detector.cpython-313.pyc
eecs598/__pycache__/__init__.cpython-313.pyc
eecs598/__pycache__/data.cpython-313.pyc
eecs598/__pycache__/grad.cpython-313.pyc
eecs598/__pycache__/solver.cpython-313.pyc
eecs598/__pycache__/submit.cpython-313.pyc
eecs598/__pycache__/utils.cpython-313.pyc
